html
    min-height 100%

*
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)  
    -webkit-font-smoothing antialiased
    font-smoothing antialiased
    box-sizing border-box

body
    height 100%
    overflow-y auto
    overflow-x hidden
    margin 0
  
.hidden
	display none
	opacity 0

img
    opacity 0 
    transition opacity 200ms ease-out  

img
    width 116.5%
    max-width 116.5%
    margin-left -7vw
    background #f2f2f2
    @media tablet
        margin-left 0px
        width 100%
        max-width 100%
	
// HEADERS

header
    z-index 1
    position relative
    overflow auto
    padding grid-int-phone
    padding-bottom grid-int-phone * .5
    .logo
        float left
    .info
        float right
        a
            margin-left 1rem
    @media tablet
        padding grid-int-tablet
        padding-bottom grid-int-tablet * .5
    @media bigscreen
        max-width 1440px
        margin 0 auto
        padding-bottom grid-int-tablet * .25
        padding-top grid-int-tablet * .5

p
    &.title
        float left

.readmore
    text-align right
    display none
    @media tablet
        display block
        
.thumbnail
    width 116.5%
    max-width 116.5%
    margin-left -7vw
    height 0px
    padding-bottom 70%
    background-repeat norepeat
    background-color #f2f2f2
    background-size cover
    background-image url(http://payload270.cargocollective.com/1/0/11446/7717719/GATO_JESSE_REED_16_960.jpg)
    transition all 200ms ease
    z-index 99999
    position relative
    cursor pointer
    margin-bottom grid-int-phone * .6
    width 
    @media tablet
        margin-bottom grid-int-tablet *.6
        width 100%
        margin-left 0px
        padding-bottom 60%
    

section
    @media bigscreen
        margin 0 auto
        max-width 1440px

section.index
    .row
        &:hover a
            border-color black
        &:hover a.slick-slide
            border-color white
        .column, col-md-6
            margin-bottom 0px
        .caret
            float right
            @media tablet
                display none
        img 
            margin-bottom grid-int-phone * .6
            cursor pointer
            @media tablet
                margin-bottom grid-int-tablet * .6
                    


// SLIDESHOW

.imgSlider
    max-height 55vw
    overflow hidden
    width 116.5%
    max-width 116.5%
    margin-left -7vw
    img
        width 100%
        margin-left 0px
    @media tablet
        width 100%
        margin-left 0px
    @media bigscreen
        max-height 750px

.project
    position relative
    overflow visible

.sideButton
    display none
    
// DETAIL PAGES

.detail
    .title
        position absolute
        display none
        @media laptop
            display block
            margin 0 auto
            text-align center
            top grid-int-tablet
            width 30vw
            left 50%
            margin-left -15vw
        @media bigscreen
            top grid-int-tablet * .5
    .meta, .links, .overview
        p
            margin-bottom 0px
    .meta
        display inline
        p
            float left
            display inline
            &:nth-child(odd)
                width 50%
                float left
                @media laptop
                    width 40%
            &:nth-child(even)
                width 50%
                @media laptop
                    width 60%
                    
.projectNav
    display none

.sideNav
    width 100vh
    max-width 750px
    text-align center
    padding 0px
    position fixed
    cursor pointer
    display none
    @media laptop
        display block
    p
        display block
        padding-top 1.8vw 
        padding-bottom 1.8vw
    a
        color black
        text-decoration none
    // @media bigscreen
    //     display none
    &:hover
        a
            border-bottom 1px solid black
    &.left
        -webkit-transform rotate(-90deg)
        -webkit-transform-origin top left
        left 1px
        //top 100vh
        // @media bigscreen
        //     top 50px
    &.right
        -webkit-transform rotate(90deg)
        -webkit-transform-origin top right
        right 1px
        //top 100vh
        // @media bigscreen
        //     top 50px
    &.projNav 
        max-width 100000000000000px
        &.right, &.left 
            top 100vh
    &.static
        position absolute
    
            
.mobileProjectNavigation
    @media tablet
        display none
    .column
        text-align left
        &:nth-child(2)
            text-align right
        

.slick-track a:hover
    border-color blue
