footer 
    .line
        height 1px
        background black
        display block
        margin-left grid-int-phone 
        margin-right grid-int-phone
        margin-bottom grid-int-phone * .5 
        margin-top grid-int-phone * .5
        @media tablet   
            margin-left grid-int-tablet
            margin-right grid-int-tablet
            margin-bottom grid-int-tablet * .5 + (grid-int-tablet *.5 / 2)
            margin-top grid-int-tablet * .5 + (grid-int-tablet *.5 / 2)
    p.title
        margin-bottom 0px
        cursor pointer
        //background red
        padding-top grid-int-phone * .5
        padding-bottom grid-int-phone * .5
        span
            text-align right
            float right
        @media tablet
            cursor default
            margin-bottom grid-int-tablet * .5
            padding-top 0px
            padding-bottom 0px
            span
                display none
    .content
        p:first-of-type
            padding-top grid-int-phone * .5
        p:last-of-type
            padding-bottom grid-int-phone * .5
        &.closed
            height 1px
            overflow hidden
        &.open
            height auto
            overflow auto
        @media tablet
            &.open, &.closed
                height auto
                overflow visible
            p:first-of-type
                padding-top 0px
            p:last-of-type
                padding-bottom 0px
    .column
        @media tablet
            margin-bottom grid-int-tablet
        @media laptop
            margin-bottom 0px
    .row
        padding-top 0px
        @media tablet
            padding-top grid-int-tablet * .25
    .column
        margin-bottom 0px 
        @media tablet
            margin-bottom grid-int-tablet
    .bottom
        padding grid-int-phone 
        padding-bottom grid-int-phone *2
        position relative
        overflow auto
        @media tablet
            padding grid-int-tablet
        .email
            float left
        .arrow
            width 2rem
            width 2rem
            padding 2rem
            margin-left -2rem
            margin-top -1rem
            text-align center
            float left
            position absolute
            left 50%
            cursor pointer
            transition all 200ms ease
            border-radius 1000px
            border 1px solid white
            background  url(_img/arrow.svg) no-repeat
            background-size 25%
            background-position center center
            &:hover
                border-color black
                transform scale(1.08)
                -webkit-transform scale(1.08)
        .twitter
            float right
    @media bigscreen
        max-width 1440px
        margin 0 auto
        