// ADDS MARGIN BELOW COLUMNS THAT ARE FORCED TO FULL WIDTH ON MOBILE

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12
	margin-bottom grid-int-phone
	&:last-of-type
		margin-bottom 0px
	@media tablet
		margin-bottom 0px
	
.column
.col-xs-12,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12
	padding-right grid-int-phone * .5
	padding-left grid-int-phone * .5
	@media tablet
		padding-right grid-int-tablet * .25
		padding-left grid-int-tablet * .25

.row
	padding grid-int-phone * .5  grid-int-phone * .5
	overflow-x hidden
	overflow-y visible
	z-index 10
	margin-left 0px 
	margin-right 0px
	@media tablet
		padding (grid-int-tablet *.5 / 2)  grid-int-tablet * .75
	div
		z-index 11
		

		
.column
	overflow-y visible
	// margin-bottom grid-int-phone * .5
	// &:last-of-type
	// 	margin-bottom 0px
	@media laptop
		margin-bottom 0px
	.row
		padding 0 !important
	&.halfWidth
		margin-bottom grid-int-phone
		@media tablet
			margin-bottom grid-int-tablet * .5
		@media laptop
			margin-bottom 0px
	&.couple
		&:nth-child(2)
			margin-top grid-int-tablet *.5
			@media laptop
				margin-top 0px
		&:nth-child(3)
			margin-top grid-int-tablet *.5
			@media laptop
				margin-top 0px
		
	
    