// CSS STUFF & FONTS

@import "../../bower_components/normalize.css/normalize.css"
@import "../../bower_components/flexboxgrid/css/flexboxgrid.css"
@import "../../bower_components/slick.js/slick/slick.css"
@import "../../bower_components/slick.js/slick/slick-theme.css"
@import "_includes/fixes.css"
@import "_includes/fonts.css"

// STYLUS FILES

@import "vars.styl"
@import "type.styl"
@import "grid.styl"
@import "base.styl"
// @import "nav.styl"
// @import "photos.styl"
@import "footer.styl"
@import "guides.styl"
@import "animations.styl"

.mobile
	display block
	@media laptop
		display none
		
.desktop
	display none
	@media laptop
		display block
		

// flexbox fixeroor

.column.couple.col-md-6, .column.halfWidth, .column.fullWidth
	display block

	

	