html
  font-size 11px
  font-family typeface-body
  text-transform uppercase
  letter-spacing .05rem
  @media laptop
  	font-size 1vw
  @media bigscreen
  	font-size 13px
  	//background red

body, p
	font-size 1rem
	
::selection, -moz-selection {
    color: #fff; 
    background: rgba(0, 0, 0, 0.99);
    z-index: 8
}

.stopSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p
	line-height 150%
	margin 0 0 1.5em 0
	&:last-of-type 
		margin-bottom -.2em
		overflow visible
	i, em
		font-family typeface-body-italic
		font-style normal	
	&.highlighted
		background pink
		// color white
		// a
		// 	color white
		// 	border-color white

a 
	text-decoration: none
	color text-color
	transition all 100ms ease-out
	border-bottom 1px solid white
	&:hover
		border-color black
		
ul 
    list-style circle
    padding 0px
    margin 0 0 1rem 0
    li 
        margin -0.5rem 0 .5rem 3rem
        line-height 180%		
	
strong 
	font-weight normal
	border-bottom 1px solid black
	margin-bottom 5vw
	display block

h1,h2,h3,h4,h5,h6
	margin 0 0
	padding: 0 0
	font-family: typeface-h1
	font-weight: normal
	line-height 125%
	position relative
	z-index 9999
	i
		font-style normal

h1
	font-size 9vw
	margin-top -1vw
	font-family typeface-h1
	@media laptop
		font-size 7.5vw
	
h2
	font-size 9vw
	// margin 11vw 0
	font-family typeface-h2
	margin 0em 0 1em 0
	@media laptop
		font-size 4vw
		margin -.53rem 0px 2.5rem 0px
	a
		-webkit-background-clip border-box
		-webkit-background-origin padding-box
		-webkit-background-size 2px 2px
		background-attachment scroll
		background-clip border-box
		background-color rgba(0,0,0,0)
		background-image linear-gradient(rgba(0,0,0,0) 75%,rgba(0,0,0,1)75%)
		background-origin padding-box
		background-position 0 89%
		background-repeat repeat-x
		background-size 2px 4px
		cursor auto
		display inline
		height auto
		text-decoration none
		visibility visible
		width auto
		word-wrap break-word
		line-height 140%
		transition all 200ms ease-out
		&:hover
			background-image linear-gradient(rgba(0,0,0,0) 75%,#ccc 75%)
	
h3, h4
	font-size .9rem
	font-family typeface-h3
	text-transform uppercase
	margin-bottom 10vw
	letter-spacing .05rem
	opacity .4
	@media laptop 
		margin-bottom 2rem
	
h4
	font-size 2.3rem
	
h5
	font-size 1.8rem
	
h6
	font-size 1.25rem
	
//EXCEPTIONS

.heading h2
	margin 0px
	
// BUTTONS

.underlined a
	padding-bottom 3px
	border-bottom #000 solid 1px
	color #000

.quote
	position relative
	z-index 15 !important
	h2
		font-family typeface-body-italic
		z-index 15
	p
		color #999
	span
		position absolute
		left -.4em