{% include 'header.html' %}


<section class="detail">
	<div class="title">{{ entry.title}}</div>
	{% block content %}
	<article class="project">
		<!-- MAIN THUMBNAIL PHOTO -->
		<div class="row">
			<div class="column image fullWidth col-xs-12">
				<img onload="this.style.opacity='1';" src="{% for asset in entry.mainThumbnail %}{{ asset.url }}{% endfor %}">
			</div>
		</div>
		<!-- DETAILS -->
		<div class="row">
			<div class="column meta col-xs-12 col-sm-4 col-md-3">
				{{ entry.meta | markdown}}
			</div>
			<div class="column links col-xs-12 col-sm-4 col-md-3 last-sm">
				<!-- <p>> <a href="" target="_blank">gatonyc.com</a></p>
				<p>> <a href="" target="_blank">pentagram.com</a></p>
				<p>> <a href="" target="_blank">fastco.com</a></p> -->
				{{ entry.links | markdown}}
			</div>
			<div class="column overview col-xs-12 col-sm-4 col-md-6">
				{{ entry.description | markdown}}
			</div>	
		</div>
		<!-- BODY -->
		{% for block in entry.body %}
			<!-- TEXT -->
			{% if block.type == "text" %}
		    	<p>testing 123</p>
	    	{% endif %}
	    	<!-- IMAGE FULL -->
			{% if block.type == "imageFull" %}
		        {% set image = block.image.first() %}
		        {% if image %}
		        <div class="row">
					<div class="column image fullWidth col-xs-12">
						<img onload="this.style.opacity='1';" src="{{ image.getUrl() }}">
					</div>
				</div>
		    	{% endif %}
		    {% endif %}
		    <!-- IMAGE COUPLE -->
			{% if block.type == "imageCouple" %}
		        <div class="row">
					<div class="column image fullWidth col-xs-12">
						{% set image = block.image.first() %}
				        {% if image %}
						<img onload="this.style.opacity='1';" src="{{ image.getUrl() }}">
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="column image couple col-xs-12 col-md-3">
						<p>{{ block.caption }}</p>
					</div>
					<div class="column image couple col-xs-12 col-md-6 last-md">
						{% set image = block.image2.first() %}
						{% if image %}
						<img onload="this.style.opacity='1';" src="{{ image.getUrl() }}">
						{% endif %}
					</div>
					<div class="column image couple col-xs-12 col-md-3">
						<p>{{ block.caption2 }}</p>
					</div>
				</div>
		    {% endif %}
		    <!-- IMAGE HALF -->
			{% if block.type == "imageHalf" %}
		        {% set image = block.image.first() %}
		        {% if image %}
		        <div class="row">
					<div class="column image halfWidth col-xs-12 col-md-6">
						<img onload="this.style.opacity='1';" src="{{ image.getUrl() }}">
					</div>
				{% endif %}
				{% set image = block.image2.first() %}
				{% if image %}
					<div class="column image halfWidth col-xs-12 col-md-6 last-md">
						<img onload="this.style.opacity='1';" src="{{ image.getUrl() }}">
					</div>
				</div>
		    	{% endif %}
		    {% endif %}
		{% endfor %}

		<!-- PROJECT NAVIGATION -->

		<!-- limits advancing back and forth between projects witin the category you're already viewing.  -->
		{% set params = craft.entries.section('projects').order('title asc').relatedTo(entry.category.first()) %}

		{% set prevEntry = entry.getPrev(params) %}
		{% set nextEntry = entry.getNext(params) %}

		{% if nextEntry %}
		    {% set nextEntryUrl = nextEntry.url %}
		{% else %}
		    {% set firstEntry = craft.entries.section('projects').relatedTo(entry.category.first()).first() %}
		    {% set nextEntryUrl = firstEntry.url %}
		{% endif %}

		{% if prevEntry %}
		    {% set prevEntryUrl = prevEntry.url %}
		{% else %}
		    {% set lastEntry = craft.entries.section('projects').relatedTo(entry.category.first()).last() %}
		    {% set prevEntryUrl = lastEntry.url %}
		{% endif %}

		<div class="sideNav projNav right linked">
			<p>
			<a href="{{ nextEntryUrl }}">Next Project</a>
			</p>
		</div>
		<div class="sideNav projNav left linked">
			<p>
			<a href="{{ prevEntryUrl }}">Prev Project</a>
			</p>
		</div>
		<div class="row mobileProjectNavigation">
			<div class="column col-xs-6">
				<p>
				<a href="{{ nextEntryUrl }}">Prev Project</a>
				</p>
			</div>
			<div class="column col-xs-6">
				<p>
				<a href="{{ prevEntryUrl }}">Next Project</a>
				</p>
			</div>
		</div>
	</article>
{% endblock %}
</section>

{% include 'footer.html' %}