{% include 'header.html' %}


{% block content %}
	<p>News</p>

	{% for entry in craft.entries.section('polaroids').find() %}
		<article>
			<p><a href="{{ entry.url }}">{{ entry.title }}</a></p>
		</article>
	{% endfor %}
{% endblock %}

testing1234

{% include 'footer.html' %}

