/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
 *
 * Uncomment and set these variables to customize the grid.
 *
 * :root {
 *  --half-gutter-width: 0.5rem;
 *  --gutter-compensation: -0.5rem;
 *  --outer-margin: 2rem;
 * }
*/

.grid {
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: row-reverse;
  -ms-flex-wrap: row-reverse;
  flex-wrap: row-reverse;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-flex-wrap: column-reverse;
  -ms-flex-wrap: column-reverse;
  flex-wrap: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-xs {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  -webkit-flex-basis: 8.333333333%;
  -ms-flex-preferred-size: 8.333333333%;
  flex-basis: 8.333333333%;
  max-width: 8.333333333%;
}

.col-xs-2 {
  -webkit-flex-basis: 16.666666667%;
  -ms-flex-preferred-size: 16.666666667%;
  flex-basis: 16.666666667%;
  max-width: 16.666666667%;
}

.col-xs-3 {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  -webkit-flex-basis: 33.333333333%;
  -ms-flex-preferred-size: 33.333333333%;
  flex-basis: 33.333333333%;
  max-width: 33.333333333%;
}

.col-xs-5 {
  -webkit-flex-basis: 41.666666667%;
  -ms-flex-preferred-size: 41.666666667%;
  flex-basis: 41.666666667%;
  max-width: 41.666666667%;
}

.col-xs-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  -webkit-flex-basis: 58.333333333%;
  -ms-flex-preferred-size: 58.333333333%;
  flex-basis: 58.333333333%;
  max-width: 58.333333333%;
}

.col-xs-8 {
  -webkit-flex-basis: 66.666666667%;
  -ms-flex-preferred-size: 66.666666667%;
  flex-basis: 66.666666667%;
  max-width: 66.666666667%;
}

.col-xs-9 {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  -webkit-flex-basis: 83.333333333%;
  -ms-flex-preferred-size: 83.333333333%;
  flex-basis: 83.333333333%;
  max-width: 83.333333333%;
}

.col-xs-11 {
  -webkit-flex-basis: 91.666666667%;
  -ms-flex-preferred-size: 91.666666667%;
  flex-basis: 91.666666667%;
  max-width: 91.666666667%;
}

.col-xs-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333333333%;
}

.col-xs-offset-2 {
  margin-left: 16.666666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333333333%;
}

.col-xs-offset-5 {
  margin-left: 41.666666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333333333%;
}

.col-xs-offset-8 {
  margin-left: 66.666666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333333333%;
}

.col-xs-offset-11 {
  margin-left: 91.666666667%;
}

.start-xs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around-xs {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: 48em) {
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11,
  .col-sm-offset-12 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-sm {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  .col-sm-2 {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  .col-sm-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  .col-sm-5 {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  .col-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  .col-sm-8 {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  .col-sm-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  .col-sm-11 {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  .col-sm-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.333333333%;
    max-width: 8.333333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.666666667%;
    max-width: 16.666666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.333333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.666666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.666666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.333333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.666666667%;
  }

  .start-sm {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-sm {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 62em) {
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-md {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  .col-md-2 {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  .col-md-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  .col-md-5 {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  .col-md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  .col-md-8 {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  .col-md-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  .col-md-11 {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  .col-md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.333333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.666666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.666666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.666666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.333333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.666666667%;
  }

  .start-md {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-md {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: 75em) {
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-lg {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    -webkit-flex-basis: 8.333333333%;
    -ms-flex-preferred-size: 8.333333333%;
    flex-basis: 8.333333333%;
    max-width: 8.333333333%;
  }

  .col-lg-2 {
    -webkit-flex-basis: 16.666666667%;
    -ms-flex-preferred-size: 16.666666667%;
    flex-basis: 16.666666667%;
    max-width: 16.666666667%;
  }

  .col-lg-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -webkit-flex-basis: 33.333333333%;
    -ms-flex-preferred-size: 33.333333333%;
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  .col-lg-5 {
    -webkit-flex-basis: 41.666666667%;
    -ms-flex-preferred-size: 41.666666667%;
    flex-basis: 41.666666667%;
    max-width: 41.666666667%;
  }

  .col-lg-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -webkit-flex-basis: 58.333333333%;
    -ms-flex-preferred-size: 58.333333333%;
    flex-basis: 58.333333333%;
    max-width: 58.333333333%;
  }

  .col-lg-8 {
    -webkit-flex-basis: 66.666666667%;
    -ms-flex-preferred-size: 66.666666667%;
    flex-basis: 66.666666667%;
    max-width: 66.666666667%;
  }

  .col-lg-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -webkit-flex-basis: 83.333333333%;
    -ms-flex-preferred-size: 83.333333333%;
    flex-basis: 83.333333333%;
    max-width: 83.333333333%;
  }

  .col-lg-11 {
    -webkit-flex-basis: 91.666666667%;
    -ms-flex-preferred-size: 91.666666667%;
    flex-basis: 91.666666667%;
    max-width: 91.666666667%;
  }

  .col-lg-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-1 {
    margin-left: 8.333333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.666666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.333333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.666666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.333333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.666666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.333333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.666666667%;
  }

  .start-lg {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-lg {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

a, a:focus, *:focus {
	outline: none;
	noFocusLine: expression(this.onFocus=this.blur());
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	color: black;

}

#__bs_notify__ {
	opacity: .0 !important;
	visible: hidden;
	display: none;
}


.no-select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@font-face {
    font-family: 'ApercuMono';
    src: url('_fonts/ApercuMono.eot');
    src: url('_fonts/ApercuMono.eot') format('embedded-opentype'),
         url('_fonts/ApercuMono.woff2') format('woff2'),
         url('_fonts/ApercuMono.woff') format('woff'),
         url('_fonts/ApercuMono.ttf') format('truetype'),
         url('_fonts/ApercuMono.svg#ApercuMono') format('svg');
}

html {
  font-size: 11px;
  font-family: 'ApercuMono', Sans-Serif, Arial;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
@media (min-width: 62em) {
  html {
    font-size: 1vw;
  }
}
@media (min-width: 90em) {
  html {
    font-size: 13px;
  }
}
body,
p {
  font-size: 1rem;
}
::selection,
-moz-selection {
  color: #fff;
  background: rgba(0,0,0,0.99);
  z-index: 8;
}
.stopSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
p {
  line-height: 150%;
  margin: 0 0 1.5em 0;
}
p:last-of-type {
  margin-bottom: -0.2em;
  overflow: visible;
}
p i,
p em {
  font-family: 'ApercuMono', Sans-Serif, Arial;
  font-style: normal;
}
p.highlighted {
  background: #ffc0cb;
}
a {
  text-decoration: none;
  color: text-color;
  transition: all 100ms ease-out;
  border-bottom: 1px solid #fff;
}
a:hover {
  border-color: #000;
}
ul {
  list-style: circle;
  padding: 0px;
  margin: 0 0 1rem 0;
}
ul li {
  margin: -0.5rem 0 0.5rem 3rem;
  line-height: 180%;
}
strong {
  font-weight: normal;
  border-bottom: 1px solid #000;
  margin-bottom: 5vw;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
  padding: 0 0;
  font-family: typeface-h1;
  font-weight: normal;
  line-height: 125%;
  position: relative;
  z-index: 9999;
}
h1 i,
h2 i,
h3 i,
h4 i,
h5 i,
h6 i {
  font-style: normal;
}
h1 {
  font-size: 9vw;
  margin-top: -1vw;
  font-family: typeface-h1;
}
@media (min-width: 62em) {
  h1 {
    font-size: 7.5vw;
  }
}
h2 {
  font-size: 9vw;
  font-family: typeface-h2;
  margin: 0em 0 1em 0;
}
@media (min-width: 62em) {
  h2 {
    font-size: 4vw;
    margin: -0.53rem 0px 2.5rem 0px;
  }
}
h2 a {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: 2px 2px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0,0,0,0);
  background-image: linear-gradient(rgba(0,0,0,0) 75%, #000 75%);
  background-origin: padding-box;
  background-position: 0 89%;
  background-repeat: repeat-x;
  background-size: 2px 4px;
  cursor: auto;
  display: inline;
  height: auto;
  text-decoration: none;
  visibility: visible;
  width: auto;
  word-wrap: break-word;
  line-height: 140%;
  transition: all 200ms ease-out;
}
h2 a:hover {
  background-image: linear-gradient(rgba(0,0,0,0) 75%, #ccc 75%);
}
h3,
h4 {
  font-size: 0.9rem;
  font-family: typeface-h3;
  text-transform: uppercase;
  margin-bottom: 10vw;
  letter-spacing: 0.05rem;
  opacity: 0.4;
}
@media (min-width: 62em) {
  h3,
  h4 {
    margin-bottom: 2rem;
  }
}
h4 {
  font-size: 2.3rem;
}
h5 {
  font-size: 1.8rem;
}
h6 {
  font-size: 1.25rem;
}
.heading h2 {
  margin: 0px;
}
.underlined a {
  padding-bottom: 3px;
  border-bottom: #000 solid 1px;
  color: #000;
}
.quote {
  position: relative;
  z-index: 15 !important;
}
.quote h2 {
  font-family: 'ApercuMono', Sans-Serif, Arial;
  z-index: 15;
}
.quote p {
  color: #999;
}
.quote span {
  position: absolute;
  left: -0.4em;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  margin-bottom: 7vw;
}
.col-md-1:last-of-type,
.col-md-2:last-of-type,
.col-md-3:last-of-type,
.col-md-4:last-of-type,
.col-md-5:last-of-type,
.col-md-6:last-of-type,
.col-md-7:last-of-type,
.col-md-8:last-of-type,
.col-md-9:last-of-type,
.col-md-10:last-of-type,
.col-md-11:last-of-type,
.col-md-12:last-of-type {
  margin-bottom: 0px;
}
@media (min-width: 48em) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    margin-bottom: 0px;
  }
}
.column,
.col-xs-12,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12 {
  padding-right: 3.5vw;
  padding-left: 3.5vw;
}
@media (min-width: 48em) {
  .column,
  .col-xs-12,
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    padding-right: 1.25vw;
    padding-left: 1.25vw;
  }
}
.row {
  padding: 3.5vw 3.5vw;
  overflow-x: hidden;
  overflow-y: visible;
  z-index: 10;
  margin-left: 0px;
  margin-right: 0px;
}
@media (min-width: 48em) {
  .row {
    padding: 1.25vw 3.75vw;
  }
}
.row div {
  z-index: 11;
}
.column {
  overflow-y: visible;
}
@media (min-width: 62em) {
  .column {
    margin-bottom: 0px;
  }
}
.column .row {
  padding: 0 !important;
}
.column.halfWidth {
  margin-bottom: 7vw;
}
@media (min-width: 48em) {
  .column.halfWidth {
    margin-bottom: 2.5vw;
  }
}
@media (min-width: 62em) {
  .column.halfWidth {
    margin-bottom: 0px;
  }
}
.column.couple:nth-child(2) {
  margin-top: 2.5vw;
}
@media (min-width: 62em) {
  .column.couple:nth-child(2) {
    margin-top: 0px;
  }
}
.column.couple:nth-child(3) {
  margin-top: 2.5vw;
}
@media (min-width: 62em) {
  .column.couple:nth-child(3) {
    margin-top: 0px;
  }
}
html {
  min-height: 100%;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
}
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}
.hidden {
  display: none;
  opacity: 0;
}
img {
  opacity: 0;
  transition: opacity 200ms ease-out;
}
img {
  width: 116.5%;
  max-width: 116.5%;
  margin-left: -7vw;
  background: #f2f2f2;
}
@media (min-width: 48em) {
  img {
    margin-left: 0px;
    width: 100%;
    max-width: 100%;
  }
}
header {
  z-index: 1;
  position: relative;
  overflow: auto;
  padding: 7vw;
  padding-bottom: 3.5vw;
}
header .logo {
  float: left;
}
header .info {
  float: right;
}
header .info a {
  margin-left: 1rem;
}
@media (min-width: 48em) {
  header {
    padding: 5vw;
    padding-bottom: 2.5vw;
  }
}
@media (min-width: 90em) {
  header {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 1.25vw;
    padding-top: 2.5vw;
  }
}
p.title {
  float: left;
}
.readmore {
  text-align: right;
  display: none;
}
@media (min-width: 48em) {
  .readmore {
    display: block;
  }
}
.thumbnail {
  width: 116.5%;
  max-width: 116.5%;
  margin-left: -7vw;
  height: 0px;
  padding-bottom: 70%;
  background-repeat: norepeat;
  background-color: #f2f2f2;
  background-size: cover;
  background-image: url("http://payload270.cargocollective.com/1/0/11446/7717719/GATO_JESSE_REED_16_960.jpg");
  transition: all 200ms ease;
  z-index: 99999;
  position: relative;
  cursor: pointer;
  margin-bottom: 4.2vw;
width
}
@media (min-width: 48em) {
  .thumbnail {
    margin-bottom: 3vw;
    width: 100%;
    margin-left: 0px;
    padding-bottom: 60%;
  }
}
@media (min-width: 90em) {
  section {
    margin: 0 auto;
    max-width: 1440px;
  }
}
section.index .row:hover a {
  border-color: #000;
}
section.index .row:hover a.slick-slide {
  border-color: #fff;
}
section.index .row .column,
section.index .row col-md-6 {
  margin-bottom: 0px;
}
section.index .row .caret {
  float: right;
}
@media (min-width: 48em) {
  section.index .row .caret {
    display: none;
  }
}
section.index .row img {
  margin-bottom: 4.2vw;
  cursor: pointer;
}
@media (min-width: 48em) {
  section.index .row img {
    margin-bottom: 3vw;
  }
}
.imgSlider {
  max-height: 55vw;
  overflow: hidden;
  width: 116.5%;
  max-width: 116.5%;
  margin-left: -7vw;
}
.imgSlider img {
  width: 100%;
  margin-left: 0px;
}
@media (min-width: 48em) {
  .imgSlider {
    width: 100%;
    margin-left: 0px;
  }
}
@media (min-width: 90em) {
  .imgSlider {
    max-height: 750px;
  }
}
.project {
  position: relative;
  overflow: visible;
}
.sideButton {
  display: none;
}
.detail .title {
  position: absolute;
  display: none;
}
@media (min-width: 62em) {
  .detail .title {
    display: block;
    margin: 0 auto;
    text-align: center;
    top: 5vw;
    width: 30vw;
    left: 50%;
    margin-left: -15vw;
  }
}
@media (min-width: 90em) {
  .detail .title {
    top: 2.5vw;
  }
}
.detail .meta p,
.detail .links p,
.detail .overview p {
  margin-bottom: 0px;
}
.detail .meta {
  display: inline;
}
.detail .meta p {
  float: left;
  display: inline;
}
.detail .meta p:nth-child(odd) {
  width: 50%;
  float: left;
}
@media (min-width: 62em) {
  .detail .meta p:nth-child(odd) {
    width: 40%;
  }
}
.detail .meta p:nth-child(even) {
  width: 50%;
}
@media (min-width: 62em) {
  .detail .meta p:nth-child(even) {
    width: 60%;
  }
}
.projectNav {
  display: none;
}
.sideNav {
  width: 100vh;
  max-width: 750px;
  text-align: center;
  padding: 0px;
  position: fixed;
  cursor: pointer;
  display: none;
}
@media (min-width: 62em) {
  .sideNav {
    display: block;
  }
}
.sideNav p {
  display: block;
  padding-top: 1.8vw;
  padding-bottom: 1.8vw;
}
.sideNav a {
  color: #000;
  text-decoration: none;
}
.sideNav:hover a {
  border-bottom: 1px solid #000;
}
.sideNav.left {
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: top left;
  left: 1px;
}
.sideNav.right {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: top right;
  right: 1px;
}
.sideNav.projNav {
  max-width: 100000000000000px;
}
.sideNav.projNav.right,
.sideNav.projNav.left {
  top: 100vh;
}
.sideNav.static {
  position: absolute;
}
@media (min-width: 48em) {
  .mobileProjectNavigation {
    display: none;
  }
}
.mobileProjectNavigation .column {
  text-align: left;
}
.mobileProjectNavigation .column:nth-child(2) {
  text-align: right;
}
.slick-track a:hover {
  border-color: #00f;
}
footer .line {
  height: 1px;
  background: #000;
  display: block;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-bottom: 3.5vw;
  margin-top: 3.5vw;
}
@media (min-width: 48em) {
  footer .line {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3.75vw;
    margin-top: 3.75vw;
  }
}
footer p.title {
  margin-bottom: 0px;
  cursor: pointer;
  padding-top: 3.5vw;
  padding-bottom: 3.5vw;
}
footer p.title span {
  text-align: right;
  float: right;
}
@media (min-width: 48em) {
  footer p.title {
    cursor: default;
    margin-bottom: 2.5vw;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  footer p.title span {
    display: none;
  }
}
footer .content p:first-of-type {
  padding-top: 3.5vw;
}
footer .content p:last-of-type {
  padding-bottom: 3.5vw;
}
footer .content.closed {
  height: 1px;
  overflow: hidden;
}
footer .content.open {
  height: auto;
  overflow: auto;
}
@media (min-width: 48em) {
  footer .content.open,
  footer .content.closed {
    height: auto;
    overflow: visible;
  }
  footer .content p:first-of-type {
    padding-top: 0px;
  }
  footer .content p:last-of-type {
    padding-bottom: 0px;
  }
}
@media (min-width: 48em) {
  footer .column {
    margin-bottom: 5vw;
  }
}
@media (min-width: 62em) {
  footer .column {
    margin-bottom: 0px;
  }
}
footer .row {
  padding-top: 0px;
}
@media (min-width: 48em) {
  footer .row {
    padding-top: 1.25vw;
  }
}
footer .column {
  margin-bottom: 0px;
}
@media (min-width: 48em) {
  footer .column {
    margin-bottom: 5vw;
  }
}
footer .bottom {
  padding: 7vw;
  padding-bottom: 14vw;
  position: relative;
  overflow: auto;
}
@media (min-width: 48em) {
  footer .bottom {
    padding: 5vw;
  }
}
footer .bottom .email {
  float: left;
}
footer .bottom .arrow {
  width: 2rem;
  width: 2rem;
  padding: 2rem;
  margin-left: -2rem;
  margin-top: -1rem;
  text-align: center;
  float: left;
  position: absolute;
  left: 50%;
  cursor: pointer;
  transition: all 200ms ease;
  border-radius: 1000px;
  border: 1px solid #fff;
  background: url("_img/arrow.svg") no-repeat;
  background-size: 25%;
  background-position: center center;
}
footer .bottom .arrow:hover {
  border-color: #000;
  transform: scale(1.08);
  -webkit-transform: scale(1.08);
}
footer .bottom .twitter {
  float: right;
}
@media (min-width: 90em) {
  footer {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.animated {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-100%);
  }
  100% {
    -o-transform: translateY(0);
  }
}
.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-100%);
  }
}
@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(-100%);
  }
}
.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}
@-moz-keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@-o-keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.mobile {
  display: block;
}
@media (min-width: 62em) {
  .mobile {
    display: none;
  }
}
.desktop {
  display: none;
}
@media (min-width: 62em) {
  .desktop {
    display: block;
  }
}
.column.couple.col-md-6,
.column.halfWidth,
.column.fullWidth {
  display: block;
}
