@font-face {
    font-family: 'ApercuMono';
    src: url('fonts/ApercuMono.eot');
    src: url('fonts/ApercuMono.eot') format('embedded-opentype'),
         url('fonts/ApercuMono.woff2') format('woff2'),
         url('fonts/ApercuMono.woff') format('woff'),
         url('fonts/ApercuMono.ttf') format('truetype'),
         url('fonts/ApercuMono.svg#ApercuMono') format('svg');
}
