<footer>
	<div class="line"></div>

	<div class="row">
		<div class="column col-xs-12 col-sm-12 col-md-3">
			<p class="title">About<span>+</span><span style="display: none">-</span></p>
			<div class="content">
				<p>JESSE REED IS A GRAPHIC DESIGNER LIVING AND WORKING IN NEW YORK CITY.<p>
				<p>ORIGINALLY FROM YOUNGSTOWN, OHIO, JESSE IS A GRADUATE OF THE UNIVERSITY OF CINCINNATI, COLLEGE OF DESIGN, ART, ARCHITECTURE, & PLANNING (DAAP), SCHOOL OF DESIGN.<p>
				<p>HE CO-FOUNDED THE INDEPENDENT PUBLISHING IMPRINT, <a href="http://standardsmanual.com" target="_blank">STANDARDS MANUAL</a>, IN 2014 AND IS CURRENTLY A PARTNER AT THE DESIGN CONSULTANCY, <a href="http://order.design" target="_blank">ORDER</a>.<p>
			</div>
		</div>
		<div class="column col-xs-12 col-sm-4 col-md-3 last-xs">
			<p class="title">Contact<span>+</span><span style="display: none">-</span></p>
			<div class="content">
				<p>
					<a href="mailto:jesse.middle.reed@gmail.com">JESSE.MIDDLE.REED@GMAIL.COM</a><br>
					<a href="http://twitter.com/youngstownjesse" target="_blank">@YOUNGSTOWNJESSE</a>
				</p>
				<p>
					<a href="http://twitter.com/order" target="_blank">@ORDER</a><br>
					<a href="http://twitter.com/standardsmanual" target="_blank">@STANDARDSMANUAL</a><br>
					<a href="http://twitter.com/slipchip" target="_blank">@SLIPCHIP</a>
				</p>
				<p>
					<a href="http://order.design" target="_blank">ORDER.DESIGN</a><br>
					<a href="http://thestandardsmanual.com" target="_blank">THESTANDARDSMANUAL.COM</a><br>
					<a href="http://chipslip.com" target="_blank">CHIPSLIP.COM</a><br>
				</p>

				<p>&copy; 2017 JESSE REED</p>
			</div>
		</div>

		<div class="column col-xs-12 col-sm-4 col-md-3">
			<p class="title">History<span>+</span><span style="display: none">-</span></p>

			<div class="content">
				<p>ORDER.<br>
				NEW YORK CITY, NY<br>
				PARTNER<br>
				2017-PRESENT</p>

				<p>STANDARDS MANUAL, LLC<br>
				NEW YORK CITY, NY<br>
				CO-FOUNDER<br>
				2015-PRESENT</p>

				<p>PENTAGRAM, MICHAEL BIERUT<br>
				NEW YORK CITY, NY<br>
				ASSOCIATE PARTNER<br>
				2015-2017</p>

				<p>PARSONS NEW SCHOOL FOR DESIGN<br>
				NEW YORK CITY, NY<br>
				INSTRUCTOR<br>
				2014-2015</p>

				<p>PENTAGRAM, MICHAEL BIERUT<br>
				NEW YORK CITY, NY<br>
				DESIGNER<br>
				2012-2015</p>

				<p>CHIP SLIP, LLC<br>
				FOUNDER & CEO<br>
				NEW YORK CITY, NY<br>
				2012-PRESENT</p>

				<p>MUSEUM OF MODERN ART<br>
				NEW YORK CITY, NY<br>
				DESIGNER<br>
				2010-2012</p>

				<p>THE UNIVERSITY OF CINCINNATI<br>
				CINCINNATI, OH<br>
				INSTRUCTOR<br>
				2010</p>

				<p>THE UNIVERSITY OF CINCINNATI<br>
				CINCINNATI, OH<br>
				DAAP, SCHOOL OF DESIGN<br>
				BACHELOR OF SCIENCE IN DESIGN<br>
				2005-2010</p>
			</div>
		</div>

		<div class="column col-xs-12 col-sm-4 col-md-3">
			<p class="title">Collaboration<span>+</span><span style="display: none">-</span></p>

			<div class="content">
				<p>
					<a href="http://www.baronfig.com" target="_blank">BARON FIG</a><br>
					<a href="http://www.bigapps.nyc" target="_blank">BIG APPS NYC</a><br>
					<a href="http://www.bobbyflay.com" target="_blank">BOBBY FLAY</a><br>
					<a href="http://www.bobbysburgerpalace.com" target="_blank">BOBBY’S BURGER PALACE</a><br>
					<a href="http://www.bucknell.edu" target="_blank">BUCKNELL UNIVERSITY</a><br>
					<a href="http://www.clinique.com" target="_blank">CLINIQUE</a><br>
					<a href="http://www.nyc.gov/dot" target="_blank">NYC DEPT. OF TRANSPORTATION</a><br>
					<a href="http://www.faithactsedu.org" target="_blank">FAITHACTS FOR EDUCATION</a><br>
					<a href="http://www.fourseasonsrestaurant.com" target="_blank">THE FOUR SEASONS</a><br>
					<a href="http://www.furnishedquarters.com" target="_blank">FURNISHED QUARTERS</a><br>
					<a href="http://www.gatonyc.com" target="_blank">GATO</a><br>
					<a href="http://hillaryclinton.com" target="_blank">Hillary for America</a><br>
					<a href="http://laurenedward.com" target="_blank">LAUREN EDWARD PRODUCTIONS</a><br>
					<a href="http://www.mtb.com" target="_blank">M&T BANK</a><br>
					<a href="http://www.moma.org" target="_blank">MUSEUM OF MODERN ART (MOMA)</a><br>
					<a href="http://www.nyu.edu" target="_blank">NEW YORK UNIVERSITY</a><br>
					<a href="http://onrye.com" target="_blank">On Rye</a><br>
					<a href="http://thepenguinpress.com" target="_blank">PENGUIN PRESS</a><br>
					<a href="http://penguinrandomhouse.com" target="_blank">PENGUIN RANDOM HOUSE</a><br>
					<a href="http://phny.org" target="_blank">Playwrights Horizons</a><br>
					<a href="http://project6million.org/" target="_blank">PROJECT 6MILLION</a><br>
					<a href="http://sfa.com" target="_blank">SAKS FIFTH AVENUE</a><br>
					<a href="http://stjohndivine.org" target="_blank">SAINT JOHN THE DIVINE</a><br>
					<a href="http://sarahsingerandco.com" target="_blank">SARAH SINGER & CO.</a><br>
					<a href="http://shinsegae.com" target="_blank">Shinsegae</a><br>
					<a href="http://shutterstock.com" target="_blank">SHUTTERSTOCK</a><br>
					<a href="http://skip.it" target="_blank">SKIP</a><br>
					<a href="http://tapitevents.com" target="_blank">TAP</a><br>
					<a href="http://tothestars.media" target="_blank">Tom DeLonge</a><br>
					<a href="http://upworthy.com>" target="_blank">Upworthy</a><br>
					<a href="http://wcs.org" target="_blank">WILDLIFE CONSERVATION SOCIETY</a><br>
					<a href="http://whitecase.com" target="_blank">WHITE & CASE</a>
				</p>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="arrow">
			<!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 256.7 253.3" enable-background="new 0 0 256.7 253.3" xml:space="preserve">
			<path fill-rule="evenodd" clip-rule="evenodd" fill="#000000" d="M253.2,151.2c-2.3,2.5-5.4,3.7-8.4,3.7c-3.1,0-6.1-1.2-8.4-3.7
			L140.3,48.7v191.9c0,7-5.3,12.7-11.9,12.7c-6.6,0-11.9-5.7-11.9-12.7V48.7L20.4,151.2c-4.7,5-12.2,5-16.9,0c-4.7-5-4.7-13,0-18
			L119.9,9c0,0,0,0,0,0l8.4-9l8.4,9c0,0,0,0,0.1,0.1l116.4,124.2C257.8,138.2,257.8,146.2,253.2,151.2z"/>
			</svg> -->
		</div>
		<div class="email"><p><a href="mailto:reed@order.design" target="_blank">Email</a></p></div>
		<div class="twitter"><p><a href="http://twitter.com/youngstownjesse" target="_blank">Twitter</a></p></div>
	</div>
</footer>
