<!DOCTYPE html>

<!-- 

Designed by Jesse Reed
Code by Jeremy P. Beasley
http://jeremypbeasley.com 

August, 2015

-->

<html>
<head>                  
	<meta charset="UTF-8">
	<title>Jesse Reed</title>
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
	<link href="{{ siteUrl }}master.css" rel="stylesheet">
	<script src="{{ siteUrl }}master.js"></script>
</head>
<body>	
<header class="animated">
  <div class="logo"><a href="{{ siteUrl }}">Reed</a></div>
  <div class="info">
  	<a href="{{ siteUrl }}">Design</a>
  	<a href="{{ siteUrl }}photo">Photo</a>
  	<a href="#" id="info">Information</a>
  </div>
</header>
