{% include 'header.html' %}

<section class="index">
{% block content %}
	
	{% set category = craft.categories.group('allcategories').slug('photo').find() %}
	{% set projects = craft.entries.section('projects').relatedTo(category).find() %}

	{% for entry in projects %}
		<article class="project">
			<div class="row project">
				<div class="column col-xs-12">

					<div class="imgSlider">

						{% for asset in entry.thumbnails %}

							<a href="{{ entry.url }}"><img data-lazy="{{ asset.url }}" /></a>
    						
						{% endfor %}
					
					</div>

					<div class="sideNav right static stopSelect">
						<p>
						<a>^</a>
						</p>
					</div>

					<div class="sideNav left static stopSelect">
						<p>
						<a>^</a>
						</p>
					</div>

				</div>
				<div class="column col-xs-12 col-sm-6">
					<p class="title">{{ entry.title }} <span class="caret">></span></p>

				</div>
				<div class="column readmore col-xs-12 col-sm-6">
					<p><a href="{{ entry.url }}">See Full Project ›</a></p>
				</div>
			</div>

		</article>
	{% endfor %}
{% endblock %}
</section>


{% include 'footer.html' %}
